langchain==0.0.101
accelerate
addict
albumentations
basicsr
controlnet-aux
diffusers
einops
gradio
imageio
imageio-ffmpeg
invisible-watermark
kornia
numpy
omegaconf
open_clip_torch
openai
opencv-python
prettytable
safetensors
streamlit
test-tube
timm
torchmetrics
transformers
webdataset
yapf
xformers